.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


.scrolling-wrapper-flexbox .product-card {
    flex: 0 0 auto;
    margin-right: 15px;
    width: 400px;
}


.scrolling-wrapper-flexbox .nav-item {
    flex: 0 0 auto;
    margin-right: 5px;
}


.scrolling-wrapper-flexbox {
    width: 99%;
    -webkit-overflow-scrolling: touch;
}


.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}


.beforeIcon {
    top: 280px;
    left: 300px;
}


.afterIcon {
    top: 280px;
    right: 18px;
}


.navigateIcon {
    position: absolute;
    z-index: 1000;
    color: #626262;
    font-size: xx-large;
    cursor: pointer;
}


.grid-container {
    font-size: 10px;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
    gap: 2px;
}


.header {
    grid-area: header;
}


.header a {
    color: #777777;
    font-size: medium;
}


.menu {
    grid-area: menu;
    border-radius: 15px;
    width: 280px;
    background-color: #eeeeee;
    grid-column: 1 / 2;
    grid-row: 2 / span5;
}


.menu a {
    color: black;
    text-decoration: none;
    font-size: medium;
    margin-left: 10px;
}


.menu a:hover {
    color: #818181;
    cursor: pointer;
}


.main {
    margin-bottom: 20px;
    grid-area: main;
    grid-column: 2 / 7;
    grid-row: 2 / span5;
}


.card a {
    text-decoration: none;
    color: black;
    font-size: small;
}


.footer {
    grid-area: footer;
}


.header {
    background-color: #eeeeee;
    grid-column: 1 / 7;
    grid-row: 1;
    padding: 8px;
}


.footer {
    background-color: #eeeeee;
    grid-column: 1 / 7;
    grid-row: 5;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: small;
}


.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.active {
    background-color: rgba(131, 131, 131, 0.5) !important;
}


@media screen and (max-width: 1200px) {
    .navbar-items {
        display: none;
    }
}


.horizontal-nav .smallScreen {
    display: none;
}


.horizontal-nav .menu {
    grid-column: 1 / 7;
    grid-row: 2;
    width: 100%;
    list-style: none;
    display: block;
}


.horizontal-nav .menu-item {
    display: inline;
    position: relative;
}


.horizontal-nav .menuItems {
    flex-direction: row !important;
}


.horizontal-nav .grid-container {
    grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'footer footer footer footer footer footer';
}


.horizontal-nav .main {
    grid-column: 1 / 7;
    grid-row: 3 / span5;
}


.horizontal-nav .beforeIcon {
    top: 400px;
    left: 10px;
}


.horizontal-nav .afterIcon {
    top: 400px;
    right: 10px;
}

