/*.scrolling-wrapper {*/
/*    overflow-x: scroll;*/
/*    overflow-y: hidden;*/
/*    white-space: nowrap;*/
/*}*/

/*.scrolling-wrapper .product-card {*/
/*    display: inline-block;*/
/*}*/

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper-flexbox .product-card {
    flex: 0 0 auto;
    margin-right: 15px;
    width: 400px;
}

.scrolling-wrapper-flexbox {
    margin-bottom: 20px;
    width: 99%;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}

.before {
    top: 280px;
    left: 300px;
}
.after {
    top: 280px;
    right: 18px;
}
.navigateIcon {
    position: absolute;
    z-index: 1000;
    color: #626262;
    font-size: xx-large;
    cursor: pointer;
}



.grid-container {
    font-size: 10px;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
    gap: 2px;
    /*background-color: #161718;*/
}

.header {
    grid-area: header;
}

.header a {
    color: #777777;
    font-size: medium;
}

.menu {
    grid-area: menu;
    background-color: #c9c8c8;
    border-radius: 15px;
    width: 280px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: medium;
    margin-left: 10px;
}

.menu a:hover {
    color: #818181;
    cursor: pointer;
}

.main {
    grid-area: main;
}

.xx i {
    font-size: medium;
}

.card a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.footer {
    grid-area: footer;
}

.header {
    background-color: #eeeeee;
    grid-column: 1 / 7;
    grid-row: 1;
    padding: 8px;

}

.menu {
    background-color: #eeeeee;
    grid-column: 1 / 2;
    grid-row: 2 / span5;
}

.main {
    grid-column: 2 / 7;
    grid-row: 2 / span5;
}

.footer {
    background-color: #eeeeee;
    grid-column: 1 / 7;
    grid-row: 5;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: small;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: rgba(131, 131, 131, 0.5) !important;
}
